<!--
  Generated template for the RegisterCompanyPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Register a Company</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <form [formGroup]="registerCompanyForm" (ngSubmit)="onSubmit()">
    <ion-card>
      <ion-card-content>
        <ion-item>
          <ion-label stacked>Company Name</ion-label>
          <ion-input type="text" formControlName="companyName"></ion-input>
        </ion-item>
        <!-- ERROR MESSAGE-->
        <ion-item *ngIf="!registerCompanyForm.controls.companyName.valid && registerCompanyForm.controls.companyName.touched">
          <p>Your company must have a name.</p>
        </ion-item>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-content>

        <ion-item>
          <ion-label stacked>Phone Number</ion-label>
          <ion-input type="text" formControlName="phoneNumber"></ion-input>
        </ion-item>
        <!-- ERROR MESSAGE-->
        <ion-item *ngIf="!registerCompanyForm.controls.phoneNumber.valid && registerCompanyForm.controls.phoneNumber.touched">
          <p>You must provide a phone number.</p>
        </ion-item>
        <ion-item>
          <ion-label stacked>Email</ion-label>
          <ion-input type="text" formControlName="email"></ion-input>
        </ion-item>
        <ion-item *ngIf="!registerCompanyForm.controls.email.valid && registerCompanyForm.controls.email.touched">
          <p>That email doesn't look correct.</p>
        </ion-item>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-content>
        <ion-item>
          <ion-label stacked>Address</ion-label>
          <ion-input type="text" formControlName="street"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label stacked>City</ion-label>
          <ion-input type="text" formControlName="city"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label stacked>State</ion-label>
          <!-- <ion-input type="text" formControlName="state"></ion-input> -->
          <ion-select formControlName="state">
            <ion-option value="AL" selected="true">Alabama</ion-option>
          	<ion-option value="AK">Alaska</ion-option>
          	<ion-option value="AZ">Arizona</ion-option>
          	<ion-option value="AR">Arkansas</ion-option>
          	<ion-option value="CA">California</ion-option>
          	<ion-option value="CO">Colorado</ion-option>
          	<ion-option value="CT">Connecticut</ion-option>
          	<ion-option value="DE">Delaware</ion-option>
          	<ion-option value="DC">District Of Columbia</ion-option>
          	<ion-option value="FL">Florida</ion-option>
          	<ion-option value="GA">Georgia</ion-option>
          	<ion-option value="HI">Hawaii</ion-option>
          	<ion-option value="ID">Idaho</ion-option>
          	<ion-option value="IL">Illinois</ion-option>
          	<ion-option value="IN">Indiana</ion-option>
          	<ion-option value="IA">Iowa</ion-option>
          	<ion-option value="KS">Kansas</ion-option>
          	<ion-option value="KY">Kentucky</ion-option>
          	<ion-option value="LA">Louisiana</ion-option>
          	<ion-option value="ME">Maine</ion-option>
          	<ion-option value="MD">Maryland</ion-option>
          	<ion-option value="MA">Massachusetts</ion-option>
          	<ion-option value="MI">Michigan</ion-option>
          	<ion-option value="MN">Minnesota</ion-option>
          	<ion-option value="MS">Mississippi</ion-option>
          	<ion-option value="MO">Missouri</ion-option>
          	<ion-option value="MT">Montana</ion-option>
          	<ion-option value="NE">Nebraska</ion-option>
          	<ion-option value="NV">Nevada</ion-option>
          	<ion-option value="NH">New Hampshire</ion-option>
          	<ion-option value="NJ">New Jersey</ion-option>
          	<ion-option value="NM">New Mexico</ion-option>
          	<ion-option value="NY">New York</ion-option>
          	<ion-option value="NC">North Carolina</ion-option>
          	<ion-option value="ND">North Dakota</ion-option>
          	<ion-option value="OH">Ohio</ion-option>
          	<ion-option value="OK">Oklahoma</ion-option>
          	<ion-option value="OR">Oregon</ion-option>
          	<ion-option value="PA">Pennsylvania</ion-option>
          	<ion-option value="RI">Rhode Island</ion-option>
          	<ion-option value="SC">South Carolina</ion-option>
          	<ion-option value="SD">South Dakota</ion-option>
          	<ion-option value="TN">Tennessee</ion-option>
          	<ion-option value="TX">Texas</ion-option>
          	<ion-option value="UT">Utah</ion-option>
          	<ion-option value="VT">Vermont</ion-option>
          	<ion-option value="VA">Virginia</ion-option>
          	<ion-option value="WA">Washington</ion-option>
          	<ion-option value="WV">West Virginia</ion-option>
          	<ion-option value="WI">Wisconsin</ion-option>
          	<ion-option value="WY">Wyoming</ion-option>
          </ion-select>
        </ion-item>
        <!-- ERROR MESSAGE-->
        <ion-item *ngIf="!registerCompanyForm.controls.state.valid && registerCompanyForm.controls.state.touched">
          <p>You must choose a state.</p>
        </ion-item>
        <ion-item>
          <ion-label stacked>ZIP Code</ion-label>
          <ion-input type="text" formControlName="zipcode"></ion-input>
        </ion-item>
        <!-- ERROR MESSAGE-->
        <ion-item *ngIf="!registerCompanyForm.controls.zipcode.valid && registerCompanyForm.controls.zipcode.touched">
          <p>A zipcode must be at least 5 digits.</p>
        </ion-item>
      </ion-card-content>
    </ion-card>
    <button ion-button block type="submit">
      Register your Company
    </button>
  </form>


</ion-content>
